.flex_wrap{ display:flex; flex-direction: row; flex-wrap: wrap;}
.flex{ display:flex; flex-direction: row; flex-wrap: nowrap;}
.flex_co{ display:flex; flex-direction: column; flex-wrap: wrap;}
button{border: none;}
[type="search"]{
    border: none;
}
.mo_text_none{display: inline;}
.mo_br{display: inline;}
.btn_rs{
    display: block;
    box-sizing: border-box;
    width: 300px;
    height: 60px;
    line-height: 60px;
    background-color: #fbfbfb;
    border-radius: 30px;
    border: 1px solid #0C2340;
    text-align: center;
    font-size: 1.2223rem;
    font-weight: 700;
    color: #0C2340;
    transition: 0.5s;
}
.btn_rs:hover{
    background-color: #EE4242;
    border: 1px solid transparent;
    color: #fff;
}
b{
    font-weight: 400;
    display: block;
}
h2 > b{
    font-weight: 700;
}
h2 > b > b{
    font-weight: 700;
}
.btn_nav_click_depth2 > li > a>b{
    font-weight: 700;
}
.tit_size{
    font-size: 3.4445rem;
    line-height: 1.2em;
    font-weight: 700;
}
.middle_tit_size{
    font-size: 2.3334rem;
    font-weight: 700;
}

.sub_tit_size{
    font-size: 1.2223rem;
    font-weight: 700;
}

.txt_red{
    color: #EE4242;
}
.txt_blue{
    color: #0C2340;
}
.txt_white{
    color: #fff;
}
.txt_gray{
    color: #8D9093;
}

.sub_txt_size{
    font-size: 0.7778rem;
}

.inner{
    max-width: 1440px;
    margin: 0 auto;
}
#wrap{
    position: relative;
    overflow: hidden;
}
.pad_100{
    padding-top: 100px;
    padding-bottom:100px;
}
/* content: '';
    display: block; 
    width:8px; 
    height:8px;
    border-bottom:2px solid #a7a7a7;
    border-right: 2px solid #a7a7a7; 
    transform: rotate(315deg);
    position: absolute;
    right: 0;
    top: 50%; */
    /* >모양 css */

/*********************header****************************/
#header{ width: 100%; height: 100px; padding: 0 50px;box-sizing: border-box;
     justify-content: space-between; align-items: center; 
    position: absolute; z-index: 9999999999;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    /* transition:  background 0.5s 0.1s; */
}

#header .logo{
        display: block;
        width: 56px;
        height: 38px;
        background: url(../images/logo_bk.png) no-repeat;
        background-size: cover;
        font-size: 0;
}
#header.fixed{
    position: fixed;
    height: 60px;
    transition: 0.5s;
}
#header.fixed .depth2, #header.fixed .depth2_bg{
    top: 60px;
}

/* whitecolor */
#header.whitecolor .logo{
    background: url(../images/logo.png) no-repeat;
}
#header.whitecolor{
    color:#fff;
    background-color: transparent;
    border-bottom: 1px solid transparent;
}
#header.whitecolor .btn_search_img , #header.whitecolor .btn_language_img{
    filter: invert(1);
}
#header.whitecolor .btn_nav span{
    background-color: #fff;
}

/* whitecolor hover */

#header.whitecolor:hover{

    background-color: #fff;
    color: #212529;
    border-bottom: 1px solid #eee;
}
#header.whitecolor:hover .btn_search_img, #header.whitecolor:hover .btn_language_img{
    filter: invert(0);
}
#header.whitecolor:hover .btn_nav span{
    background-color: #212529;
}
#header.whitecolor:hover .logo{
    background: url(../images/logo_bk.png) no-repeat;
    background-size: cover;
}




.nav{
    width: 63%;
}
.nav .gnb{
    justify-content: space-between;
}
.nav .gnb > li{
    width: 100%;
}

.nav .gnb > li > a{
    display: block;
    width: 100%;
    line-height: 100px;
    text-align: center;
    position: relative;
}
.nav .gnb > li > a::after{
    content: '';
    width: 70%;
    height: 2px;
    background-color: #EE4242;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(0) ;
    transition: 0.5s;
}
.nav .gnb > li > a:hover::after{
    transform: translateX(-50%) scale(1) ;
}
#header.fixed .nav .gnb > li > a{
    line-height: 60px;
}
/* .btn_search_wrap */
.overlay{ width:100%; 
    height:100%; 
    background:rgba(0,0,0,0.4);
    position:fixed;
    top:0; left:0; 
    z-index:1; 
    visibility:hidden; 
    opacity:0;   
    transition:all 0.5s ease;
   }
.btn_search_wrap{
    margin-right: 26px;
}
.btn_search img, .btn_language img{
    width: 30px;
    height: 30px;
    
}
#header .btn_search:hover .btn_search_img,#header .btn_language:hover .btn_language_img{
    filter: invert(69%) sepia(76%) saturate(6770%) hue-rotate(337deg) brightness(98%) contrast(90%);
}
.btn_wrap .btn_search_in{
    box-sizing: border-box;
    background-color: #FBFBFB;
    width: 960px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #eeeeee;
    border-bottom-left-radius : 15px;
    border-bottom-right-radius : 15px;
}
.btn_search_in_fir{
    box-sizing: border-box;
    width: 100%;
    padding: 20px 20px;
    border-bottom: 1px solid #eeeeee;
}
.btn_search_in_fir p{
    margin-right: 20px;
}
.search_from{
    justify-content: space-between;
    width: calc(100% - 80px);
}
.btn_search_in_fir .btn_search{
    margin-left: auto;
}
.btn_search_close{
    margin-left: auto;
}
.btn_search_close span{
    width: 20px; height: 2px;
    margin-bottom: -2px;
    border-radius: 1px;
    background: #212529;
    display: block;
    font-size: 0px;
}

.btn_search_close span:nth-child(1){
    transform: rotate(45deg);
    background-color: #212529;
    
}
.btn_search_close span:nth-child(2){
    display: none;
    
}
.btn_search_close span:nth-child(3){
    transform: rotate(-45deg);
    background-color: #212529;
}
.btn_search_in_fir input{
    width: 90%;
}
.btn_search_in_fir input::placeholder{
    font-size: 1rem;
    color: #8D9093;
}
.btn_search_in_fir img{
    width:20px;
    height: 20px;
}

.btn_search_in_sec{
    padding: 20px 60px 0 60px;
}
.btn_search_in_sec > ul{
    margin-bottom: 100px;
}
.keyword > li{
    font-size: 0.7778rem;
    color: #8D9093;
    margin-bottom: 10px;
}
.keyword_list{
    color: #212529;
}

/* btn_language */
.btn_language_wrap{
    /* position: relative; */
    margin-right: 26px;
}
.btn_language_in{
    position: absolute;
    bottom: -57px;
    transform: translateX(-35%);
    width: 115px;
    height: 57px;
    background-color: #fbfbfb;
    color: #212529;
    align-items: center;
    justify-content: space-evenly;
    border-bottom-left-radius : 15px;
    border-bottom-right-radius : 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0,0.2);
}
.btn_language_in a{
    font-size: 0.7778rem;
}

/* .btn_nav */
.btn_nav{width: 27px; height: 20px; transform: translateY(5px);
         display:flex; flex-direction:column; justify-content:space-between;
        overflow: hidden;}

.btn_nav span{width: 100%; height: 2px;
    border-radius: 1px;
    background: #212529;
    display: block;
    font-size: 0px;
}
#header .btn_nav:hover span:nth-child(1){
    transform: translateX(-40%);
    transition: 0.5s 0.5s;
    background-color: #EE4242;
}
#header .btn_nav:hover span:nth-child(2){
    transform: translateX(-60%);
    transition: 0.5s 0.25s;
    background-color: #EE4242;
}
#header .btn_nav:hover span:nth-child(3){
    transform: translateX(-80%);
    transition: 0.5s;
    background-color: #EE4242;
}
.depth2_bg{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: #fff;
    display: none;
    box-shadow : 0 2px 5px 0 rgba(0, 0, 0,0.2);
}
.depth2{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate( -50%, 0);
    width: 100%;
    height: 300px;
    padding-top: 30px;
    box-sizing: border-box;
    justify-content: center;
    color: #212529;

}
.depth2_animate{
    opacity: 0;
}
.nav .gnb:hover .depth2_animate{ opacity: 1; transition: 0.5s 0.2s;}
.depth2 > li > a{
    display: block; margin-bottom: 20px;
}
.depth2 > li:hover> a{
    color: #EE4242;
}
.depth3 > li{
    margin-right: 50px;
}
.depth3_space{
    margin-right: 50px;
}
.depth3 > li > a{
    display: block;
    padding-left:10px;
    margin-bottom: 10px;
    font-size:0.7778rem;
    color: #8D9093;
    position: relative
}
.depth3 > li > a:hover{
    text-decoration: underline;
    text-underline-offset: 2px;
}
.depth3 > li > a::before{
    content: "-";
    position: absolute;
    top: 0;
    left: -5px;
}


/* btn_nav_click */



.btn_nav_click{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    background: url(../images/nav_click.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    z-index: 99999999999;
    overflow: hidden;
}
.btn_nav_click::before{
    content: '';
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: -1;
}

.btn_nav.close{
    position: absolute;
    top:40px;
    right: 50px;
    /* display: none; */

}
.btn_nav.close.scroll_down{
    position: absolute;
    top:10px;
    right: 50px;
}
.btn_nav.close:hover{
    animation: rotate 0.5s linear infinite;

}
.btn_nav.close:hover span:nth-child(1), .btn_nav.close:hover span:nth-child(3){
    background-color: #EE4242;
    transition: 0.5s;
}
@keyframes rotate{
    0%{}
    100%{transform: rotate(180deg)translateY(-5px);}
}
.btn_nav.close span:nth-child(1){
    position: absolute;
    transform: rotate(45deg);
    top: 10px;
    background-color: #fff;
    
}
.btn_nav.close span:nth-child(2){
    display: none;
    
}
.btn_nav.close span:nth-child(3){
    position: absolute;
    transform: rotate(-45deg);
    top: 10px;
    background-color: #fff;
}

.btn_nav_click_gnb{
    position: relative;
    box-sizing: border-box;
    width: 40%;
    height: 100%;
    justify-content: center;
    padding-left: 10%;
    /* background: #8D9093; */
    
}
.btn_nav_click_gnb:after{
    content: '';
    width: 1px;
    height: 100vh;
    background-color: #ddd;
    margin-left: 5%;

}
.btn_nav_click_gnb > li{
    margin-bottom: 50px;
}
.btn_nav_click_gnb > li:last-child{
    margin-bottom: 0;
}
.btn_nav_click_gnb > li > a{
    display: block;
    font-size: 3.4445rem;
    line-height: 1.15em;
    font-weight: 700;
}
.btn_nav_click_gnb > li:hover> a{
    color: #EE4242;
}
/* .btn_nav_click_gnb > li:hover .btn_nav_click_depth2{
    left: 800px;
} */
.btn_nav_click_depth2_ani{
    position: absolute;
    top: 0;
    left: 80%;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    display: none;
    z-index: -1;
    /* background-color: #333; */
    /* padding-left: 10%; */
}
.btn_nav_click_depth2{
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box; */
    height: 100%;
    justify-content: center;
}
.btn_nav_click_depth2::after{
    content: '';
    width: 1px;
    height: 100vh;
    background-color: #ddd;
    margin-left: -10%;
}
.btn_nav_click_depth2 > li{
    margin-bottom: 50px;
}
.btn_nav_click_depth2 > li:last-child{
    margin-bottom: 0;
}
.btn_nav_click_depth2 > li > a{
    display: block;
    font-size: 2.8889rem;
    line-height: 1.15em;
    font-weight: 700;
}
.btn_nav_click_depth2 > li:hover >a{
    color: #EE4242;
}
.btn_nav_click_depth3_ani{
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    display: none;
    z-index: 1;
    padding-left: 5%;
}

.btn_nav_click_depth3{
    box-sizing: border-box;
    height: 100%;
    justify-content: center;
}
.btn_nav_click_depth3 > li{
    margin-bottom: 50px;
}
.btn_nav_click_depth3 > li:last-child{
    margin-bottom: 0;
}
.btn_nav_click_depth3 > li > a{
    display: block;
    font-size: 2.3334rem;
    line-height: 1.15em;
    font-weight: 700;
}
.btn_nav_click_depth3 > li:hover >a{
    color: #EE4242;
}


/*********************footer****************************/


#footer .box1{grid-area:area1;}
#footer .box2{grid-area:area2;}
#footer .box3{grid-area:area3; justify-content: end;}
#footer .box4{grid-area:area4;}
#footer .box5{grid-area:area5; 
    /* margin-left: auto; */
}
#footer .list{display: grid;
    grid-template-columns: 1fr 0.9fr 0.6fr 0.5fr 1fr;

    grid-template-areas:
        'area1 area1 area3 area3 area3'
        'area2 area2 area2 area2 area5'
        'area4 area4 area4 area4 area5';
    /* grid-template-rows: 1fr 70px 1fr; */
}
#footer{
    color: #FBFBFB;
    background-color: #374c66;
    padding: 50px 0;
}
#footer .ft_txt1{
    margin-bottom: 50px;
}
#footer .ft_txt1 span{
    font-weight: 700;
}
#footer .ft_txt1 a:hover{
    text-decoration: underline;
    text-underline-offset: 2px;
}
#footer .ft_txt2{
    margin-bottom: 50px;
    line-height: 1.5em;
}
#footer .ft_sns_wrap{
    margin-right: 20px;
}
#footer .ft_sns_wrap a{
    display: block;
    width: 45px;
    height: 45px;
    margin-right: 10px;
}
#footer .ft_sns_wrap a img{
    width: 100%;
}
#footer .ft_sns_wrap a:last-child{
    margin-right: 0;
}

#footer .ft_family_site{
    position: relative;
}
#footer .btn_family_site{
    padding: 15px 60px 15px 20px;
    border: 1px solid #fbfbfb;
    position: relative;
    
}
#footer .btn_family_site::after{
    content: '';
    width: 10px;
    height: 10px;
    border-top: 2px solid #fbfbfb;
    border-right: 2px solid #fbfbfb;
    position: absolute;
    top: 20px;
    right: 20px;
    transform: rotate(-45deg);
    transition: 0.5s;
}
#footer .btn_family_site.on::after{
    top: 15px;
    transform: rotate(135deg);
}
#footer .family_site{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    color: #212529;
    position: absolute;
    bottom: 71px;
    left: 0;
    box-shadow: 0 0 1px 0 #374c66;
    
}
#footer .family_site a{
    display: block;
    margin-bottom: 10px;
}
#footer .family_site a:last-child{
    margin-bottom: 0;
}
#footer .ft_link_wrap a{
    display: flex;
    align-items: center;
    margin-right: 50px;
}
#footer .ft_link_wrap a img{
    margin-right: 10px;
}
#footer .ft_link_wrap a p{
    width: 100%;
}
#footer .ft_link_wrap a:hover p,#footer .ft_link_wrap a:hover p> b{
    
    text-decoration: underline;
    text-underline-offset: 2px;
}
#footer .ft_inquiry_number{
    padding-top: 50px;
}



@media all and (max-width:1440px){
    .btn_nav_click_gnb > li > a{
        font-size: 2.8889rem;
    }
    .btn_nav_click_depth2 > li > a{
        font-size: 2.3334rem;
    }
    .btn_nav_click_depth3 > li > a{
        font-size: 1.7778rem;
    }
}

@media all and (max-width:1024px){
    #header{
        padding: 0 20px;
    }
    .inner{
        padding: 0 20px;
    }
    .nav{
        display: none;
    }
    .btn_wrap .btn_search_in{
        width: 100%;
    }
    .btn_nav_click{
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        top: 0px;
        right: -100%;
        bottom: 0;
        width: 100%;
        height: 100%;
        /* background: #fff; */
        color: #212529;
        z-index: 99999999999;
    }
    .btn_nav_click::before{
        display: none;
    }
    .btn_nav.close{
        top: 35px;
        right: 25px;
        z-index: 999999999999;
    }
    .btn_nav.close.scroll_down{
        position: absolute;
        top: 35px;
        right: 25px;
    }
    .btn_nav.close span:nth-child(1){
        background-color: #212529;
    }
    .btn_nav.close span:nth-child(3){
        background-color: #212529;
    }
    .btn_nav_click_gnb {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        padding-left: 0;
        padding-top: 100px;
        
    }
    .btn_nav_click_gnb > li{
        margin-bottom: 0;
        position: relative;
        width: 100%;
    }
    .btn_nav_click_gnb:after{
        display: none;
    }
    .btn_nav_click_gnb > li > a{
        background-color: rgba(255,255,255,0.8);
        font-size: 1.2223rem;
        font-weight: 700;
        width: 100%;
        height: 45px;
        line-height: 45px;
        padding-left: 3%;
    }
    .btn_nav_click_gnb > li > p{
        position: absolute;
        top: 0;
        right:0;
        text-align: end;
        width: 30%;
        height: 45px;
        /* background-color: rgba(255,255,255,0.8); */
        padding-top: 8px;
        padding-right: 10%;
        cursor: pointer;
    }
    .btn_nav_click_gnb > li > p span{
        display: inline-block;
        width: 10px;
        height: 10px;
        /* background-color: #000; */
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        transform: rotate(135deg);
    }
    .btn_nav_click_gnb > li > p:hover span{
        border-top: 2px solid #EE4242;
        border-right: 2px solid #EE4242;
    }
    .btn_nav_click_depth2_ani{
        position: static;
        width: 100%;
        height: auto;
        display: none;
    }
    .btn_nav_click_depth2 > li{
        margin-bottom: 0;
        padding-left: 5%;
        position: relative;
        width: 100%;
    }
    .btn_nav_click_depth2::after{
        display: none;
    }
    
    .btn_nav_click_depth2{
        justify-content: flex-start;
        background-color: rgba(251, 251, 251,0.7);
    }
    .btn_nav_click_depth2 > li > a{
        font-size: 1rem;
        font-weight: 400;
        height: 50px;
        line-height: 50px;
        position: relative;
        margin-bottom: 10px;

    } 
    .btn_nav_click_depth2 > li > p{
        position: absolute;
        top: 0;
        right:0;
        text-align: end;
        width: 30%;
        height: 45px;
        /* background-color: rgba(255,255,255,0.8); */
        padding-top: 8px;
        padding-right: 20%;
        cursor: pointer;
    }
    .btn_nav_click_depth2 > li > p span{
        display: inline-block;
        width: 10px;
        height: 10px;
        /* background-color: #000; */
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        transform: rotate(135deg);
    }
    .btn_nav_click_depth2 > li > p:hover span{
        border-top: 2px solid #EE4242;
        border-right: 2px solid #EE4242;
    }
    .btn_nav_click_depth2 > li > a> b{
        display: inline;
        font-weight: 400;
    }

    .btn_nav_click_depth3_ani{
        
        position: static;
        display: none;
        padding-left: 0;
        height: auto;
    }
    .btn_nav_click_depth3{
        height: auto;
        justify-content: flex-start;
    }
    .btn_nav_click_depth3 > li{
        margin-bottom: 0;
    }
    .btn_nav_click_depth3 > li > a{
        font-size: 0.7778rem;
        font-weight: 400;
        color: #8D9093;
        margin-bottom: 10px;
    }
    .btn_nav_click_depth3 > li > a::before{
        content: '-';
        margin-right: 5px;
    }

    #footer .list{display: grid;
        grid-template-columns: 1fr 1fr;
    
        grid-template-areas:
            'area1 area3'
            'area2 area2'
            'area5 area4';
        /* grid-template-rows: 1fr 70px 1fr; */
    }
    #footer .ft_txt1{
        line-height: 45px;
    }
    #footer .ft_inquiry_number{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    #footer .ft_txt{
        margin-bottom: 40px;
    }
    }
    .ft_link_wrap{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #footer .box5{
        padding-top: 0;
    }
    #footer .ft_link_wrap a:nth-child(1), #footer .ft_link_wrap a:nth-child(2){
        margin-bottom: 30px;
    }



@media all and (max-width:768px){
    .btn_nav.close.scroll_down{
        position: absolute;
        top:15px;
        right: 15px;
    }
    b{
        display: inline;
    }
    .mo_br{
        display: block;
    }
    .mo_text_none{
        display: none;
    }
    .pad_100{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    #header{
        padding: 0 10px;
    }
    .inner{
        padding: 0 10px;
    }
    #header{
        height: 60px;
    }
    #header .logo{
        width: 36px;
        height: 25px;
    }
    #header.whitecolor .logo{
        width: 36px;
        height: 25px;
        background-size: cover;
    }
    .btn_search img, .btn_language img{
        width: 20px;
        height: 20px;
    }
    .btn_nav{
        width: 18px;
        height: 14px;
    }
    .btn_nav.close{
        top: 15px;
        right: 15px;
        width: 20px;
        height: 20px;
    }
    .btn_language_in{
        transform: translateX(-40%);
    }
    .btn_nav_click_gnb{
        padding-top: 50px;
    }

    .mo_txt_size{
        font-size: 0.7778rem;
    }
  

    #footer{
        padding: 30px 0;
    }
    #footer .list{display: grid;
        grid-template-columns: 1fr;
    
        grid-template-areas:
            'area1 '
            'area2'
            'area5'
            'area4'
            'area3';
        /* grid-template-rows: 1fr 70px 1fr; */
    }
    #footer .ft_txt1{
        font-size: 0.7778rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        margin-bottom: 30px;
        line-height: 1em;
    }
    #footer .ft_txt2{
        margin-bottom: 30px;
    }
    #footer .box3{
        flex-direction: column;
        margin-bottom: 30px;
    }
    #footer .btn_family_site{
        margin: 0 auto;
        display: block;
        width: 100%;
    }
    #footer .ft_family_site{
        margin: 0 auto;
        width: 210px;
    }
    #footer .family_site{
        width: 100%;
        bottom: 48px;
    }
    #footer .ft_sns_wrap{
        margin: 0 auto;
        margin-bottom: 20px;
    }
    #footer .box5{
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .ft_link_wrap{
        justify-content: space-between;
    }
    #footer .ft_link_wrap a:nth-child(1), #footer .ft_link_wrap a:nth-child(2){
        margin-bottom: 20px;
    }
    #footer .ft_link_wrap a{
        margin: 0 auto;
        margin-bottom: 20px;
    }
    #footer .ft_link_wrap a{
        flex-direction: column;
        width: 50%;
        text-align: center;
    }
    #footer .ft_link_wrap a img{
        margin-bottom: 10px;
    }
}